.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  gap: 20px;
  margin: 40px 0;
}

/* Header con título y acciones */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  max-width: 70%;
  word-break: break-word;
}

.actions {
  display: flex;
  gap: 10px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.card {
  margin-bottom: 20px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 16px;
  background-color: white;
}

.subtitle {
  margin-bottom: 20px;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}

.rowcontent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.label {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
}

.value {
  width: 50%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 16px;
}

.productsList {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.productRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  border-bottom: 1px solid #e0e0e0;
}

.productName {
  font-size: 14px;
  color: #333;
  flex: 1;
}

.productDetails {
  font-size: 14px;
  font-weight: bold;
  color: var(--primary-color);
  white-space: nowrap;
}

.titlePDF {
  margin-top: 16px;
  color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
}
.pdfContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pdfButton {
  padding: 10px 15px;
  background-color: white;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  font-size: 14px;
}

.pdfButton:hover {
  background-color: var(--primary-color);
  color: white;
}
.noPdf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: var(--secondary-color);
}
/*Modal para subir el PDF*/
.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  width: 700px;
  text-align: center;
}

.modalActions {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.addButton,
.addPdfButton,
.cancelButton {
  flex: 1;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.addButton {
  background-color: var(--primary-color);
  color: #fff;
  border: 2px solid var(--primary-color);
}
.addButton:hover {
  background-color: #fff;
  color: var(--primary-color);
}

.cancelButton {
  background-color: var(--secondary-color);
  color: #fff;
  border: 2px solid var(--secondary-color);
}
.cancelButton:hover {
  background-color: #fff;
  color: var(--secondary-color);
}
/* Área de arrastre */
.dropZone {
  width: 700px;
  height: 300px;
  border: 2px dashed var(--secondary-color-dark);
  border-radius: 16px;
  align-items: center;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  background-color: var(--gray-color);
  color: var(--secondary-color);
  transition: border-color 0.3s ease, background-color 0.3s ease;
  margin-bottom: 20px;
}

.dropZone:hover {
  background-color: var(--white-color);
  border-color: var(--secondary-color);
}
.dropZoneActive {
  width: 500px;
  height: 150px;
  border: 2px solid transparent;
  background-color: transparent;
  transition: border-color 0.3s ease, background-color 0.3s ease;
}
.previewHeader {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: var(--secondary-color);
  font-weight: 600;
}
.previewInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pdfPreview {
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  overflow: hidden;
}
/* Botón img */
.fileLabel {
  display: inline-block;
  width: 400px;
  margin-top: 1rem;
  padding: 0.75rem 1.5rem;
  background-color: var(--secondary-color);
  color: white;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
  transition: background-color 0.2s ease;
}
.fileLabel:hover {
  background-color: var(--secondary-color-dark);
}
.fileInput {
  display: none;
}
.fileLabel img {
  width: 30px;
  height: 30px;
  margin-right: 8px;
  vertical-align: middle;
}
.estado {
  font-weight: bold;
}
.pendiente {
  padding: 8px;
  border-radius: 8px;
  color: var(--yellow);
  background-color: var(--light-yellow);
}
.enProceso {
  padding: 8px;
  border-radius: 8px;
  color: var(--orange);
  background-color: var(--light-orange);
}
.enviada {
  padding: 8px;
  border-radius: 8px;
  color: var(--blue);
  background-color: var(--light-blue);
}
.aceptada {
  padding: 8px;
  border-radius: 8px;
  color: var(--green);
  background-color: var(--light-green);
}
.rechazada {
  padding: 8px;
  border-radius: 8px;
  color: var(--primary-color);
  background-color: var(--light-primary-color);
}
.cerrada {
  padding: 8px;
  border-radius: 8px;
  color: var(--gray);
  background-color: var(--light-gray);
}

.desconocido {
  padding: 8px;
  border-radius: 8px;
  color: var(--gray);
  background-color: var(--light-gray);
}
/* ====== RESPONSIVE ====== */
@media (max-width: 992px) {
  .header {
    margin-top: 50px;
    flex-direction: column;
  }
  .actions {
    flex-direction: column;
  }
  .left{
    width: 100%;
  }
  .right{
    width: 100%;
  }
  .card{
    height: auto;
  }
  .addButton{
    height: auto;
  }
  .content{
    flex-direction: column;
  }
}