.shopContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  max-width: 1350px;
  margin: 0 auto;

  width: 100%;
  gap: 20px;
}

.productsSection {
  max-width: 900px;
  width: 100%;
  margin: 5% auto;
}

/* 🔹 Tablets (pantallas medianas) */
@media (max-width: 992px) {
  .shopContainer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }

  .productsSection {
    padding: 48px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    gap: 20px;
  }
}

/* 🔹 Celulares grandes */
@media (max-width: 768px) {
  .shopContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }

  .productsSection {
    padding: 48px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    gap: 20px;
  }
}

/* 🔹 Celulares pequeños */
@media (max-width: 480px) {
  .shopContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
  }

  .productsSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    gap: 20px;
  }
}
