.containerContacto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 1rem;
  flex-wrap: wrap;
  word-break: break-word;
  gap: 20px;

  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.containerContacto img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  cursor: pointer;
}
.containerContacto img:hover {
  filter: brightness(0) saturate(100%) invert(15%) sepia(14%) saturate(1073%)
    hue-rotate(137deg) brightness(92%) contrast(89%);
}

@media (max-width: 425px) {
  .containerContacto {
    flex-direction: column;
  }
  .containerRedes {
    width: 80%;
  }
}
