.container {
  padding: 16px 140px;
}

.subtitle {
  margin-bottom: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: left;
}

.productosGrid {
  max-width: 1300px;
  margin: 40px auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 40px;
}

@media (min-width: 320px) {
  .container {
    padding: 0;
  }
  .subtitle {
    text-align: center;
  }
  .productosGrid {
    gap: 0;
  }
}
