/* Contenedor principal */
.container {
  padding: 48px 140px;
  background-color: #f9fafb; /* gris muy claro */
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
}

.searchBarContainer {
  width: 440px;
}

/* Título estilo "botón" con línea roja */
.totalProducts {
  display: flex;
  gap: 10px;
  padding: 8px 16px;
  border: 2px solid var(--secondary-color);
  border-radius: 6px;
  background-color: #fff;
  font-weight: 600;
  color: var(--secondary-color);
}

/* Contenedor de las acciones */
.headerActions {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #444;
}

/* Botón de agregar */
.addButton {
  height: 45px;
  background-color: white;
  color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  border: 2px solid var(--primary-color);
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 8px;
}

.addButton:hover {
  background-color: var(--primary-color);
  color: white;
}

.tableContainer {
  margin: 0 40px 40px 40px;
}
.categoriaIcon {
  filter: brightness(0) saturate(100%) invert(18%) sepia(9%) saturate(1260%)
    hue-rotate(137deg) brightness(93%) contrast(89%);
}
/* ====== RESPONSIVE ====== */
@media (max-width: 768px) {
  .dashboardHeader{
  flex-direction: column;
  gap: 20px;
}
}
@media (max-width: 425px) {
.dashboardHeader{
  flex-direction: column;
  gap: 20px;
}
.searchBarContainer{
  order: 1;
  width: 100%;
}
.tableContainer{
  margin: 0;
}
.totalProducts{
  padding: 8px;
}
.headerActions{
  flex-direction: column;
  width: 100%;
  align-items: stretch;
}
}
