.dashboardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px;
}

.title {
  font-family: Montserrat;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 24px;
}

.refreshButton {
  padding: 8px 16px;
  background: transparent;
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: 0.2s ease;
}

.refreshButton:hover {
  border-color: var(--primary-color);
  background: var(--primary-color);
  color: white;
}

.refreshButton:active {
  transform: scale(0.97);
}

.container {
  height: 75vh;
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: #f9fafb; /* gris muy claro */
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  overflow-x: auto;
}

.left {
  flex: 2;
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: stretch;
}

.kpis {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 20px;
}

.chartsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 20px;
}

.cotizaciones {
  width: 50%;
}

.productos {
  width: 50%;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.headerRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.categorias {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modoToggle {
  display: flex;
  justify-content: center;
  background: var(--gray-color);
  border-radius: 20px;
  padding: 4px;
  gap: 4px;
  flex-shrink: 0;
}

.toggleButton {
  background: transparent;
  border: none;
  color: var(--secondary-color);
  padding: 6px 14px;
  border-radius: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Montserrat", sans-serif;
}

.toggleButton:hover {
  background-color: var(--light-primary-color);
  color: var(--primary-color);
}

.active {
  background-color: var(--secondary-color);
  color: white;
}
/* ====== RESPONSIVE ====== */
@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .right {
    order: -1;
  }
  .cotizaciones {
    width: 100%;
  }
  .chartsContainer {
    gap: 16px;
    flex-wrap: wrap;
  }
  .productos {
    width: 100%;
  }

  .title {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .kpis {
    flex-direction: column;
  }

  .toggleButton {
    flex: 1;
  }
}
